
*   {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    }

body {
    background-color: #000000;
}

h2 {
    color: #ffffff;
    text-align: center;
    padding-top: 3rem;
}