
*   {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    color: white;
    }

body {
    background-color: #000000;
}

h2 {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}


.icons, .card, footer{
    background-color: rgb(1, 49, 1);
    margin-top: 2rem;

}

.icons {
    text-align: center;
    font-size: 25px;
}

.card img {
    height: 200px;
    text-align: center;
}